DEMO_PORT=8080
NODE_ENV=development
APP_PORT=3000
BACKEND=http://demo-app:3000
PARANOIA=1
BLOCKING_PARANOIA=1
ANOMALY_INBOUND=5
ANOMALY_OUTBOUND=4
REPORTING_LEVEL=2
MODSEC_RULE_ENGINE=On
MANUAL_MODE=0
PROXY_TIMEOUT=30s
